extends layout

block content 
  form(method="POST" class="flex flex-col gap-y-10 sm:w-1/2 w-5/6 mx-auto bg-blue-400/10 rounded-lg py-10 shadow-md shadow-blue-300/50")
    h1.text-center.text-amber-300.font-mont(class="xl:text-3xl sm:text-lg text-base") Create a character
    .input-group.flex.flex-col.justify-center.items-center.px-5(class="sm:flex-row")
      label(for="dndName" class="xl:text-xl text-md text-center sm:text-left mb-3") Name 
      input(type="text" required autocomplete="off" id="dndName" name="dndName")
    .input-group.flex.flex-col.justify-center.items-center.px-5(class="sm:flex-row")
      label(for="dndClass" class="xl:text-xl text-md text-center sm:text-left mb-3") Class
      select#dndClass(name="dndClass" required)
        option(value="") -----------
        option(value="barbarian") Barbarian
        option(value="bard") Bard
        option(value="cleric") Cleric
        option(value="druid") Druid
        option(value="fighter") Fighter
        option(value="monk") Monk
        option(value="paladin") Paladin
        option(value="ranger") Ranger
        option(value="rogue") Rogue
        option(value="sorcerer") Sorcerer
        option(value="warlock") Warlock
        option(value="wizard") Wizard
    .input-group.flex.flex-col.justify-center.items-center.px-5(class="sm:flex-row")
      label(for="password" class="xl:text-xl text-md text-center sm:text-left mb-3") Race 
      select#dndRace(name="dndRace" required)
        option(value="") -----------
        option(value="dragonborn") Dragonborn
        option(value="dwarf") Dwarf
        option(value="elf") Elf
        option(value="gnome") Gnome
        option(value="half-elf") Half-Elf
        option(value="halfling") Halfling
        option(value="half-orc") Half-Orc
        option(value="human") Human
        option(value="tiefling") Tiefling
    .input-group.flex.flex-col.justify-center.items-center.px-5(class="sm:flex-row")
      label(for="password" class="xl:text-xl text-md text-center sm:text-left mb-3") Background 
      select#dndBackground(name="dndBackground" required)
        option(value="") -----------
        option(value="acolyte") Acolyte
        option(value="charlatan") Charlatan
        option(value="criminal") Criminal
        option(value="entertainer") Entertainer
        option(value="folk-hero") Folk Hero
        option(value="guild-artisan") Guild Artisan
        option(value="hermit") Hermit
        option(value="noble") Noble
        option(value="outlander") Outlander
        option(value="sage") Sage 
        option(value="sailor") Sailor 
        option(value="soldier") Soldier
        option(value="urchin") Urchin
    button(type="submit" class="submitBtn bg-amber-400 hover:bg-amber-300 transition-all duration-150 text-black py-2 w-48 xl:text-xl text-md mx-auto rounded-md") Create character